<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Login
body
  h1 Login Here
  form(method="POST", action="/login")
    h2 Username
    input(type="text" name="username")
    h2 Password
    input(type="password" name="password")
    //- type = password makes it come up as dots
    br
    button(type="submit") Login